/* Desktop styles */

* {
    font-family: 'Playfair Display', serif; 
}

#content-container { 
	min-height: 100vh;
	background-color: #07889B;
}

#app-header {
	text-align: center;
	padding-top: 5%;
	color: #FFFFFF;
}

#app-header h1 {
	font-size: 80px;
}

#online-status {
	text-align: center;
	margin-top: 4%;
	margin-bottom: 1%;
}

#show-online {
	background-color: #66B9BF;
	color: #FFFFFF;
}

#show-online div {
	float:left;
	margin-right: 2%;
}

#show-all {
	background-color: #66B9BF;
	color: #FFFFFF;
}

#app-view {
	background-color: #66B9BF;
	border-radius: 6px;
	min-height: 50px;
}

.twitch-user-row {
	background-color: #373737; 
	width: 55%;
	margin-bottom: 2%;
	color: #F7F7F7;
	border-radius: 5px;
	min-width: 80%;
	padding-top: 1%;
	padding-left: 2%;
}

.top-row {
	margin-top: 2%;
}

.is-online {
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background-color: green;
}

.is-offline {
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background-color: red;
}

.is-hidden {
	display: none;
}

#user-input-div {
	margin-top: 5%;
	text-align: center;
	padding-bottom: 3%;
}

#submit-button {
	margin-top: 3%;
	background-color: #66B9BF;
	color: #FFFFFF;
}

/* Mobile styles */
@media only screen and (max-width: 750px) {
	#app-view {
		margin-left: 2%;
		margin-right: 2%;
	}
}